<div class="container-fluid">
  <h1 class="title">{{ 'principal.infographics.title' | translate }} 2022</h1>

  <h3 class="description">{{ 'principal.infographics.description' | translate }}</h3>

  <!-- Mayo-->
  <div class="month_container">
    <h2 class="month">{{"month.May" | translate}}</h2>

    <div class="card_container">
      <app-card
      [title]="'principal.infographics.2022.may.barbara_wetzel.title' | translate"
      [day]="('day.Monday' | translate) + ' 2'"
      [altImg]="'Descripción Imagen'"
      [imgSource]="'prefixUrlImg' | translate: { image: 'may/Barbara_Wetzel.jpg' }"
      [iconSource]="'icons.intellectual.icon' | translate"
      [disability]="'intellectual'"
      [description]="'principal.infographics.2022.may.barbara_wetzel.description' | translate"
      [eventBn]="'buttons.showInfographic' | translate"
      [event]="''"
      [visible]="true"
      >
      </app-card>
      <app-card
      [title]="'principal.infographics.2022.may.paco.title' | translate"
      [day]="('day.Wednesday' | translate) + ' 18'"
      [altImg]="'Descripción Imagen'"
      [imgSource]="'prefixUrlImg' | translate: { image: 'may/Paco_de_la_fuente.jpg' }"
      [iconSource]="'icons.intellectual.icon' | translate"
      [disability]="'intellectual'"
      [description]="'principal.infographics.2022.may.paco.description' | translate"
      [eventBn]="'buttons.showInfographic' | translate"
      [event]="''"
      [visible]="true"
      >
      </app-card>
      <app-card
      [title]="'principal.infographics.2022.may.esclerosis.title' | translate"
      [day]="('day.Monday' | translate) + ' 30'"
      [altImg]="'Descripción Imagen'"
      [imgSource]="'prefixUrlImg' | translate: { image: 'may/Esclerosis.jpg' }"
      [iconSource]="'icons.motor.icon' | translate"
      [disability]="'motor'"
      [description]="'principal.infographics.2022.may.esclerosis.description' | translate"
      [eventBn]="'buttons.showInfographic' | translate"
      [event]="''"
      [visible]="true"
      >
      </app-card>
    </div>
  </div>


  <!-- June-->
  <div class="month_container">
    <h2 class="month">{{"month.June" | translate}}</h2>

    <div class="card_container">
      <app-card
      [title]="'principal.infographics.2022.june.baston.title' | translate"
      [day]="('day.Monday' | translate) + ' 30'"
      [altImg]="'Descripción Imagen'"
      [imgSource]="'prefixUrlImg' | translate: { image: 'june/Baston.jpg' }"
      [iconSource]="'icons.visual.icon' | translate"
      [disability]="'visual'"
      [description]="'principal.infographics.2022.june.baston.description' | translate"
      [eventBn]="'buttons.showInfographic' | translate"
      [event]="''"
      [visible]="true"
      >
      </app-card>
      <app-card
      [title]="'principal.infographics.2022.june.senias.title' | translate"
      [day]="('day.Monday' | translate) + ' 30'"
      [altImg]="'Descripción Imagen'"
      [imgSource]="'prefixUrlImg' | translate: { image: 'june/Lenguaje_de_señas.jpg' }"
      [iconSource]="'icons.hearing.icon' | translate"
      [disability]="'hearing'"
      [description]="'principal.infographics.2022.june.senias.description' | translate"
      [eventBn]="'buttons.showInfographic' | translate"
      [event]="''"
      [visible]="true"
      >
      </app-card>
    </div>
  </div>


  <!-- September-->
  <div class="month_container">
    <h2 class="month">{{"month.September" | translate}}</h2>

    <div class="card_container">
      <app-card
      [title]="'principal.infographics.2022.september.woman_disability.title' | translate"
      [day]="('day.Monday' | translate) + ' 30'"
      [altImg]="'Descripción Imagen'"
      [imgSource]="'prefixUrlImg' | translate: { image: 'september/discriminacion.jpg' }"
      [iconSource]="'icons.intellectual.icon' | translate"
      [disability]="'intellectual'"
      [description]="'principal.infographics.2022.september.woman_disability.description' | translate"
      [eventBn]="'buttons.showInfographic' | translate"
      [event]="''"
      [visible]="true"
      >
      </app-card>

      <app-card
      [title]="'principal.infographics.2022.september.software.title' | translate"
      [day]="('day.Thursday' | translate) + ' 22'"
      [altImg]="'Descripción Imagen'"
      [imgSource]="'prefixUrlImg' | translate: { image: 'september/software.jpg' }"
      [iconSource]="'icons.intellectual.icon' | translate"
      [disability]="'intellectual'"
      [description]="'principal.infographics.2022.september.software.description' | translate"
      [eventBn]="'buttons.showInfographic' | translate"
      [event]="''"
      [visible]="true"
      >
      </app-card>
    </div>
  </div>
</div>
