<div class="credits_container">
  <h1>CREDITS</h1>

  <div class="group">
    <h4>Enrique Graue Wiechers, M.D.</h4>
    <h4><b>RECTOR</b></h4>
  </div>

  <div class="group">
    <h4>Leonardo Lomelí Vanegas, PhD.</h4>
    <h4><b>GENERAL SECRETARY</b></h4>
  </div>

  <div class="group">
    <h4>Luis Álvarez Icaza Longoria, PhD.</h4>
    <h4><b>SECRETARY OF ADMINISTRATION</b></h4>
  </div>

  <div class="group">
    <h4>Patricia Dolores Dávila Aranda, PhD.</h4>
    <h4><b>SECRETARY OF INSTITUTIONAL DEVELOPMENT</b></h4>
  </div>

  <div class="group">
    <h4>Francisco José Trigo Tavera, PhD</h4>
    <h4><b>VICE-PROVOST FOR INTERNATIONAL AFFAIRS</b></h4>
  </div>

  <div class="group">
    <h4>Arturo Mendoza Ramos, PhD</h4>
    <h4><b>DIRECTOR OF THE MEXICAN STUDIES CENTRE UNAM SOUTH AFRICA</b></h4>
  </div>

  <div class="group">
    <h4>David Ruiz Guzmán, PhD</h4>
    <h4><b>CULTURAL OFFICER OF THE MEXICAN STUDIES CENTRE UNAM SOUTH AFRICA</b></h4>
  </div>

  <div class="group">
    <h4><b>PROJECT DEVELOPMENT</b></h4>
  </div>

  <div class="group">
    <h4>Vianca Banessa Aranda Mendoza</h4>
    <h4><b>RESEARCH & PROGRAMME COORDINATION</b></h4>
  </div>

  <div class="group">
    <h4>Gerardo Fabián Chávez Vargas</h4>
    <h4><b>HEAD OF VISUALS AND DESIGN GRAPHIC DESIGN</b></h4>
  </div>

  <div class="group">
    <h4>Teyza Ponce Álvarez</h4>
    <h4><b>HEAD OF COMMUNICATION AND MEDIA</b></h4>
  </div>

  <div class="group">
    <h4>María Fernanda López Díaz</h4>
    <h4><b>HEAD OF SYSTEMS AND INFORMATICS</b></h4>
  </div>

  <div class="group">
    <h4>Eric Sánchez Sarmiento</h4>
    <h4>Itzel Ramírez Martínez</h4>
    <h4>Sergio Ordaz Romero</h4>
    <h4><b>SITE DESIGN</b></h4>
  </div>

  <div class="group">
    <h4>Vianca Banessa Aranda Mendoza</h4>
    <h4><b>VIDEO EDITING</b></h4>
  </div>

  <div class="group">
    <h4>Alexa Esther Castillo Alamilla</h4>
    <h4>Valeria Michelle Serrano Gómez</h4>
    <h4><b>VIDEO SCRIPTING</b></h4>
  </div>

  <div class="group">
    <h4>Alexa Esther Castillo Alamilla</h4>
    <h4>Valeria Michelle Serrano Gómez</h4>
    <h4>Valeria Mariana Jiménez Gallegos</h4>
    <h4><b>WRITERS OF GRAPHIC MATERIAL</b></h4>
  </div>

  <div class="group">
    <h4>Alejandra Mariana Aguilar Castillo</h4>
    <h4>Gregory Cordeiro</h4>
    <h4><b>TRANSLATORS</b></h4>
  </div>

  <div class="group">
    <h4><b>Special thanks to</b></h4>
    <h4>Disability Rights Unit</h4>
    <h4>University of Witwatersrand</h4>
    <h4>Different UNAM departments</h4>
    <h4>All part</h4>
  </div>
</div>
