<div class="momento-content">
  <img class="momento-logo" src="/assets/momento_brujo/portada.png" />
  <br/>
  <div class="momento-divider"></div>

  <br/>

  <h1>Este año las sedes en el extranjero participaron en la MegaOfrenda, entra <a class="purple" href="https://megaofrenda.unam.mx/sedes_extrangero.php">aquí</a> para ver sus increíbles altares</h1>

  <br/>

  <div class="momento-tab">
    <div class="grid-item">
      <h5>{{ 'momento_brujo.31_day.day' | translate }}</h5>
      <h6><b>{{ 'momento_brujo.31_day.event1.hour' | translate }}</b></h6>
      <h6><b>{{ 'momento_brujo.31_day.event1.title' | translate }}</b></h6>
      <h6>{{ 'momento_brujo.31_day.event1.content' | translate }}</h6>
      <br/>
      <h6><b>{{ 'momento_brujo.31_day.event2.hour' | translate }}</b></h6>
      <h6><b>{{ 'momento_brujo.31_day.event2.title' | translate }}</b></h6>
      <h6>{{ 'momento_brujo.31_day.event2.content' | translate }}</h6>
    </div>
    <div class="grid-item">
      <h5>{{ 'momento_brujo.1_day.day' | translate }}</h5>
      <h6><b>{{ 'momento_brujo.1_day.event1.hour' | translate }}</b></h6>
      <h6><b>{{ 'momento_brujo.1_day.event1.title' | translate }}</b></h6>
      <h6>{{ 'momento_brujo.1_day.event1.content' | translate }}</h6>
    </div>
    <div class="grid-item">
      <h5>{{ 'momento_brujo.2_day.day' | translate }}</h5>
      <h6><b>{{ 'momento_brujo.2_day.event1.hour' | translate }}</b></h6>
      <h6><b>{{ 'momento_brujo.2_day.event1.title' | translate }}</b></h6>
      <h6>{{ 'momento_brujo.2_day.event1.content' | translate }}</h6>
    </div>
  </div>
</div>
