<div class="container-fluid">
  <h1 class="title">{{ 'principal.news.title' | translate }}</h1>

  <h3 class="description">{{ 'principal.news.description' | translate }}</h3>

  <!-- Mayo-->
  <div class="month_container">
    <h2 class="month">{{"month.August" | translate}}</h2>

    <div class="card_container">
      <app-card
      [title]="'principal.news.2022.august.discapacidad.title' | translate"
      [day]="('day.Monday' | translate) + ' 2'"
      [altImg]="'Descripción Imagen'"
      [imgSource]="'prefixUrlpdf' | translate: { pdf: 'discapacidad.pdf' }"
      [iconSource]="'icons.intellectual.icon' | translate"
      [disability]="'intellectual'"
      [description]="'principal.news.2022.august.discapacidad.description' | translate"
      [eventBn]="'buttons.showInfographic' | translate"
      [event]="'/assets/pdfs/discapacidad.pdf'"
      [visible]="true"
      >
      </app-card>
      <app-card
      [title]="'principal.news.2022.august.vianca.title' | translate"
      [day]="('day.Wednesday' | translate) + ' 18'"
      [altImg]="'Descripción Imagen'"
      [imgSource]="'prefixUrlpdf' | translate: { pdf: 'vianca.pdf' }"
      [iconSource]="'icons.intellectual.icon' | translate"
      [disability]="'intellectual'"
      [description]="'principal.news.2022.august.vianca.description' | translate"
      [eventBn]="'buttons.showInfographic' | translate"
      [event]="'/assets/pdfs/vianca.pdf'"
      [visible]="true"
      >
      </app-card>
    </div>
  </div>
</div>
