<div class="carousel">
  <div class="carousel_text">
    <div class="text_card" *ngFor="let ele of Arr(21).fill(1); let i = index">
      <img src="/assets/momento_brujo/carousel/img{{i+1}}.jpg" />
    </div>
  </div>
  <div class="carousel_position">
    <i class="fa-solid fa-circle" (click)="carouselPos($event)" data="0"></i>
    <i *ngFor="let ele of Arr(20).fill(1); let i = index"
      class="fa-regular fa-circle" (click)="carouselPos($event)" attr.data=" {{i + 1}}"
    ></i>
  </div>
</div>

<iframe class="video" src="https://www.youtube.com/embed/F9nNyFw7w2s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
