.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 120px;
  width: 100%;
  margin: 0;
  padding: 0;
  // background: rgba(182, 2, 96, 1);
  background: rgba(169, 134, 9, 1);

  .hamburguer {
    display: none;
    transition: color 0.2s linear;
  }

  .hamburguer:hover {
    color: white;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 120px;
    margin: 0;
    padding: 0;

  }

  .list li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    margin: 0;

  }

  .list li a {
    color: black;
    text-decoration: none;
    transition: color 0.2s linear;
  }

  .list li a:hover {
    color: white;
  }

  .logos {
    img {
      margin: 0 20px;
    }
  }

  .phantom {
    width: 20%;
  }
}

@media screen and (max-width: 1000px) {
  .toolbar .phantom {
    width: 10px;
    height: 20px;
  }
}

@media screen and (max-width: 800px) {
  .imgCEM {
    width: 180px;
    height: 40px;
  }
  .toolbar .list li a {
    font-size: 12px;
  }
}

@media screen and (max-width: 680px) {
  .toolbar {
    height: 80px;
    padding: 0 25px;
    justify-content: space-between;

    .hamburguer {
      display: block;
      font-size: 30px;
      cursor: pointer;
    }
    .imgCEM {
      width: 160px;
      height: 35px;
    }
    .imgDiscapacidad {
      height: 70px;
    }
    .list {
      display: none;
    }
    .list li {
      padding: 0 10px;
    }
    .logos {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      img {
        margin: 0;
        margin-left: 20px;
      }
    }
  }
}
