<div class="capsules_container">
  <h1 class="title">{{ 'principal.capsules.title' | translate }}</h1>

  <div class="square_container">
    <h3 class="square_title">{{ 'principal.capsules.videos.title' | translate }}</h3>
    <div class="videos">
      <iframe src="https://www.youtube.com/embed/0A6yA4L7uR0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/2SoH05ajNAs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/02Oy0Of_N0M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
