<div class="momento-content">

  <div class="momento-tab">
    <div class="grid-item">
      <h5><b>{{ 'momento_brujo.biographics.coplan.title' | translate }}</b></h5>
      <img src="/assets/momento_brujo/coplan.jpg"/>
      <h6 style="font-size: 10px; margin-top: 10px;"><b>Professor-Coplan: University of Venda (2017), retrieved from: https://www.univen.ac.za/news/professor-coplan-speaks-nkosi-sikelel-iafrika-during-series-of-public-lectures/</b></h6>
      <hr/>
      <h6>{{ 'momento_brujo.biographics.coplan.content' | translate }}</h6>
      <br  />
      <iframe class="momento-video" src="https://www.youtube.com/embed/3m96aC70qAo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="grid-item">
      <h5><b>{{ 'momento_brujo.biographics.frida.title' | translate }}</b></h5>
      <img src="/assets/momento_brujo/frida.png"/>
      <hr/>
      <h6>{{ 'momento_brujo.biographics.frida.content' | translate }}</h6>
    </div>
    <div class="grid-item">
      <h5><b>{{ 'momento_brujo.biographics.leon.title' | translate }}</b></h5>
      <img src="/assets/momento_brujo/leon.png"/>
      <hr/>
      <h6>{{ 'momento_brujo.biographics.leon.content' | translate }}</h6>
    </div>
  </div>

</div>
