<div class="container-fluid">
  <div class="presentation_container">
    <img alt="logo" src="{{ 'prefixUrlImg' | translate: {
      image: 'Disability-color-invertido.png'
    } }}"/>
    <div class="carousel">
      <div class="carousel_text">
        <div class="text_card">
          <h4 class="text_content">
            <b>{{ 'principal.home.welcome.title' | translate }}</b>
            <br/>
            <br/>
            {{ 'principal.home.welcome.text' | translate }}
          </h4>
        </div>
        <div class="text_card">
          <h4 class="text_content">
            <b>{{ 'principal.home.south_africa.title' | translate }}</b>
            <br/>
            <br/>
            {{ 'principal.home.south_africa.text' | translate }}
          </h4>
        </div>
        <div class="text_card">
          <h4 class="text_content">
            <b>{{ 'principal.home.mexico.title' | translate }}</b>
            <br/>
            <br/>
            {{ 'principal.home.mexico.text' | translate }}
          </h4>
        </div>
      </div>
      <div class="carousel_position">
        <i class="fa-solid fa-circle" (click)="carouselPos($event)" data="0"></i>
        <i class="fa-regular fa-circle" (click)="carouselPos($event)" data="1"></i>
        <i class="fa-regular fa-circle" (click)="carouselPos($event)" data="2"></i>
      </div>
    </div>
  </div>

  <div class="introduction_container">
    <h2>{{ 'principal.home.general.title' | translate }}</h2>
    <h4 class="text_content">{{ 'principal.home.general.text' | translate }}</h4>
  </div>

  <div class="icons_container">
    <div class="icons_row">
      <img (click)="showModal($event)" data="hearing" class="icon" alt="icon" src="{{ 'icons.hearing.img' | translate }}"/>
      <img (click)="showModal($event)" data="visual" class="icon" alt="icon" src="{{ 'icons.visual.img' | translate }}"/>
    </div>
    <div class="icons_row">
      <img (click)="showModal($event)" data="motor" class="icon" alt="icon" src="{{ 'icons.motor.img' | translate }}"/>
      <img (click)="showModal($event)" data="intellectual" class="icon" alt="icon" src="{{ 'icons.intellectual.img' | translate }}"/>
    </div>

    <div class="icons_modal" (click)="closeModal()">
      <div class="icons_description">
        <h2 class="title">{{ title }}</h2>
        <h3 class="description">{{ description }}</h3>
        <img alt="icon" src="{{ img }}"/>
      </div>
    </div>
  </div>

  <div class="programa_container">
    <h1 class="title">{{ 'principal.home.program' | translate }}</h1>

    <h3 style="padding: 20px;">
      <a href="{{ 'principal.home.registerLink' | translate }}">
        {{ 'principal.home.register' | translate }}
      </a>
    </h3>

    <div class="programa_images">
      <img alt="logo" src="{{ 'prefixUrlImg' | translate: {
        image: 'Discapacidad-general.png'
      } }}"/>
      <img alt="logo" src="{{ 'prefixUrlImg' | translate: {
        image: 'programa.png'
      } }}"/>
      <img alt="logo" src="{{ 'prefixUrlImg' | translate: {
        image: 'Programa-previo.png'
      } }}"/>
    </div>
  </div>
</div>
