<div class="tools_container">
  <h1 class="title">{{ 'principal.tools.title' | translate }}</h1>

  <div class="narrador_container">
    <h3 class="narrador_title">{{ 'principal.tools.videos.title' | translate }}</h3>
    <div class="videos">
      <div class="video_container">
        <iframe src="https://www.youtube.com/embed/NUm4ioqKfX0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>{{ 'principal.tools.videos.description.windows' | translate }}</h4>
        <h6><a href="/assets/pdfs/manuals/manual_narrador_windows.pdf" target="_blank">Descargar manual</a></h6>
      </div>
      <div class="video_container">
        <iframe src="https://www.youtube.com/embed/JVdLzOj0xug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>{{ 'principal.tools.videos.description.macos' | translate }}</h4>
        <h6><a href="/assets/pdfs/manuals/manual_narrador_macOS.pdf" target="_blank">Descargar manual</a></h6>
      </div>
      <div class="video_container">
        <iframe src="https://www.youtube.com/embed/r1lc8BjKr3k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>{{ 'principal.tools.videos.description.ios' | translate }}</h4>
        <h6><a href="/assets/pdfs/manuals/manual_narrador_iOS.pdf" target="_blank">Descargar manual</a></h6>
      </div>
      <div class="video_container">
        <iframe src="https://www.youtube.com/embed/r1lc8BjKr3k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>{{ 'principal.tools.videos.description.android' | translate }}</h4>
        <h6><a href="/assets/pdfs/manuals/manual_narrador_android.pdf" target="_blank">Descargar manual</a></h6>
      </div>
    </div>
  </div>
</div>
