<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-4 content logo-container">
        <a href="#" class="vertical-center">
          <img src="/assets/img/logounamfooter.png" class = "logo-footer" alt="">
        </a>
      </div>
      <div class="col-12 col-sm-4 ">
        <p class="text-center mt-3">{{ 'footer.Social' | translate }}</p>
        <div class="d-flex justify-content-center">
          <a href="" class="footer-link">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="" class="footer-link">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="" class="footer-link">
            <i class="bi bi-youtube"></i>
          </a>
          <a href="" class="footer-link">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
        <p class="copy">
          &copy;{{'footer.Copy' | translate}} CEM - SUDAFRICA 2022
        </p>
      </div>
      <div class="col-12 col-sm-4">
        <div class="container contact text-center">
          <p class="mt-3">{{'footer.Contact-tittle' | translate}}</p>
          <a href="#" class="footer-link">cem@sudafrica.unam.mx</a>
          <p class="no-m">Endratch & Jorissen Street Johannesburgo</p>
          <a href="#" class="footer-link">+525512345678</a>
        </div>
      </div>
    </div>
  </div>
</footer>
